<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="wukongcxy.cordova.uuap"
    version="0.0.1">

    <name>UUAP</name>
    <description>A cordova plugin, a JS version of UUAP SDK</description>
    <license>MIT</license>
    <keywords>cordova,uuap,baidu</keywords>
    <repo>https://github.com/wukongcxy/cordova-plugin-uuap</repo>
    <issue>https://github.com/wukongcxy/cordova-plugin-uuap/issues</issue>



    <!-- add this to your config.xml -->
    <!-- <preference name="WECHATAPPID" value="YOUR_WECHAT_APP_ID_HERE" /> -->
    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
      <!-- js module-->
    <js-module src="www/uuap.js" name="UUAP">
        <clobbers target="UUAP" />
    </js-module>

    <!--&lt;!&ndash; ios &ndash;&gt;-->
    <!--<platform name="ios">-->
        <!--<config-file target="config.xml" parent="/*">-->
            <!--<feature name="Wechat">-->
                <!--<param name="ios-package" value="CDVWechat"/>-->
                <!--<param name="onload" value="true" />-->
            <!--</feature>-->
            <!--<preference name="WECHATAPPID" value="$WECHATAPPID"/>        -->
        <!--</config-file>-->

        <!--<config-file target="*-Info.plist" parent="CFBundleURLTypes">-->
            <!--<array>-->
                <!--<dict>-->
                    <!--<key>CFBundleTypeRole</key>-->
                    <!--<string>Editor</string>-->
                    <!--<key>CFBundleURLName</key>-->
                    <!--<string>wechat</string>-->
                    <!--<key>CFBundleURLSchemes</key>-->
                    <!--<array>-->
                        <!--<string>$WECHATAPPID</string>-->
                    <!--</array>-->
                <!--</dict>-->
            <!--</array>-->
        <!--</config-file>-->

        <!--&lt;!&ndash; Plugin source code &ndash;&gt;-->
        <!--<header-file src="src/ios/CDVWechat.h" />-->
        <!--<source-file src="src/ios/CDVWechat.m" />-->

        <!--&lt;!&ndash; Wechat Official &ndash;&gt;-->
        <!--<header-file src="src/ios/libs/WeChatSDK_1.5/WeChatSDK_1.5/WXApi.h" />-->
        <!--<header-file src="src/ios/libs/WeChatSDK_1.5/WeChatSDK_1.5/WXApiObject.h" />-->
        <!--<source-file src="src/ios/libs/WeChatSDK_1.5/WeChatSDK_1.5/libWeChatSDK.a" framework="true" />-->

        <!--&lt;!&ndash; Other required frameworks &ndash;&gt;-->
        <!--<framework src="libz.dylib" />-->
        <!--<framework src="libsqlite3.0.dylib" />-->
        <!--<framework src="SystemConfiguration.framework" />-->
        <!--<framework src="Security.framework" />-->
        <!--<framework src="libstdc++.6.dylib" />-->
    <!--</platform>-->

    <!-- android -->
    <platform name="android">
        <!--<hook type="after_plugin_add" src="scripts/android-install.js" />-->
        <!--<hook type="after_plugin_install" src="scripts/android-install.js" />-->
        <!--<hook type="before_plugin_rm" src="scripts/android-install.js" />-->
        <!--<hook type="before_plugin_uninstall" src="scripts/android-install.js" />-->

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UUAP">
                <param name="android-package" value="com.baidu.plugin.UUAP"/>
            </feature>
        </config-file>

        <source-file src="src/android/UUAP.java" target-dir="src/com/baidu/plugin" />
  </platform>
</plugin>
